@import "flare_scss";
@import "./gradient.scss";
@import "./sample_items.css";

.App {
  font-family: sans-serif;
  text-align: center;
}

.module-border-wrap {
  max-width: 250px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, red, purple);
  padding: 3px;
}

.module {
  background: #222;
  color: white;
  padding: 2rem;
}
.gradient-box {
  
  //display: flex;
  //align-items: center;

  //width: 90%;
  // margin: auto;
  // max-width: 22em;

  // position: relative;
  // padding: 30% 2em;
  // box-sizing: border-box;

  $border: 5px;
  //color: #FFF;
  background: #000;
  background-clip: padding-box; /* !importanté */
  border: solid $border transparent; /* !importanté */
  border-radius: 1em;

  // &:before {
  //   content: '';
  //   position: absolute;
  //   top: 0; right: 0; bottom: 0; left: 0;
  //   z-index: -1;
  //   margin: -$border; /* !importanté */
  //   border-radius: inherit; /* !importanté */
  //   background: linear-gradient(to right, red, orange);
  // }
}

.combiner-top {
 display: block;
// border-top: 2px solid #87c7e2;
// border-left: 2px solid #87c7e2;
// border-right: 2px solid #87c7e2;
// background-color:#222c58;
 width: 100%;
}
.combiner-bottom {
  display: block;
 // border-bottom: 2px solid #87c7e2;
 // border-left: 2px solid #87c7e2;
 // border-right: 2px solid #87c7e2;

//background-color:#222c58;
  width: 100%;
 }
.combiner-single{
  display: block;
  //border: 1px solid #87c7e2;
  background-color:#222c58;
  width: 100%;
}
.light-border{

}
.top {border-bottom:5px solid red;
   
   width:220px;}
.block-participant-top {
  //transform: rotate(-45deg);
 // transform: translate(20%, 0);
  
}

.block-participant-bottom {
  //transform: rotate(-45deg);
 // transform: translate(20%, -200%);
  
}

.block-participant{
  position:relative;
  //display:block;
  //border: 2px solid #7ea2bc;
 // background-color: #222c58;
  border-radius: 2px;
  //height: 50px;
  width:65%;
  //@for $var from start to end {
    z-index:1;

  text-align:center
}
.spacer{
  background-color: #80ebb0;
  width:100%;

}
.half {
  width: 50%;
}
.cont{
  width: 100%;
  box-sizing: border-box;
//height:100%;
  border-radius: 2px;
  //border: 2px solid #85cc12;
  //position: absolute;
 // background-color: #12507c;
  //height:90px;
 // min-height:90px;
  //top:50%;
  display: flex;
  flex-direction:column;
  align-content:center;
  align-items:center;
  justify-content:space-around;
  //transform: translate(0, -50%);
  //position: absolute;
  //margin-right: 50px;
 // margin-left:-10px;
position:relative;
}
.packer-sibling{
  
  position:relative;
  width: 100%;
  height:800px;
  background-color: #b20ab8;
}
.packer{
  //height:100%;
  //background-color: #440846;
position:relative;
width: 100%;

  //min-height: 100px;
  //overflow: hidden;
  //flex: 100px 1 0;
  // display: flex;
  // //height:800px;
  // flex-direction: column;
  // align-items: center;
  // align-content: center;
  // justify-content: center;


}
.graph-grouper{
  background-color: #000000;
  width:200px;
  position:absolute;
  display: flex;
  height:440px;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  justify-content: space-between;
}
.stager{
  // height:800px;
   width:100px;
  //background-color: #494242;
  position:relative;
  display: flex;
  //height:800px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
 position: relative;
 gap:20px;

}
.side{
  //height:100%;
 
  //background:linear-gradient(105deg,#051313 20%, #181d22 40%, #0a0c13 80%);
  align-items: stretch;
  display:flex;
 position: relative;
  left:-8px;
    overflow:hidden;
  //gap:-20px
}
.reverse{
  flex-direction:row-reverse;
}
.bracket-matching{
  //height:100%;
  //width:100%;
  background:linear-gradient(105deg,#051313 20%, #181d22 40%, #0a0c13 80%);
  align-items: center;
  display:flex;

 position: relative;
}
.center-matching{
  width:100px;
  margin-left:-10px;
  margin-right:-10px;
  display:flex;
  flex-direction:column;
  align-items:center;
  align-content:stretch;
  justify-content: center;

  background-color: #4f9749;
  
}
.center-top{
  border-bottom: 2px solid #7ea2bc;
  background-color: #221515;
  
}
.center-div{

}